[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
tqdm = "*"
memote = "*"
click = "*"
click-log = "*"
werkzeug = "*"
nosqlite = "*"
pandas = "*"
zeep = {extras = ["async"], version = "*"}
aiohttp = "*"

[dev-packages]
ipython = "*"
jupyter = "*"
jupyter-contrib-nbextensions = "*"
jupyter-nbextensions-configurator = "*"
ipywidgets = "*"

[requires]
python_version = "3.6"
